<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>${project.artifactId}</display-name>
    <description>${project.artifactId} - JEE7 WebModule</description>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>gob.bancomext.security.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/__login</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>WebAppSecurityFilter</filter-name>
        <filter-class>gob.bancomext.security.WebAppSecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>WebAppSecurityFilter</filter-name>
        <url-pattern>/portal/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>gob.bancomext.security.WebApplicationListener</listener-class>
    </listener>
    
    <error-page>
        <!--
        <error-code>404</error-code>
        -->
        <location>/WEB-INF/error.jsp</location>
    </error-page>
</web-app>
